{% load static %}

<footer class="footer-container custom-padding">
    <div class="footer-content">
        <p class="footer-text">
            <img src="{% static 'images/icon/unix.png' %}" alt="UniXi Logo" class="footer-logo">
            Hak Cipta © UniXi. Semua hak dilindungi.</p>
            <p class="footer-text">Ikuti Kami Untuk Informasi Selengkapnya!
                <br>
                <a href="#" class="social-icon"><img src="{% static 'images/icon/globe.png' %}" alt="Global"></a>
                <a href="#" class="social-icon"><img src="{% static 'images/icon/whatsapp.png' %}" alt="WhatsApp"></a>
                <a href="#" class="social-icon"><img src="{% static 'images/icon/twitter.png' %}" alt="Twitter"></a>
                <a href="#" class="social-icon"><img src="{% static 'images/icon/instagram.png' %}" alt="Instagram"></a>
                <a href="#" class="social-icon"><img src="{% static 'images/icon/youtube.png' %}" alt="YouTube"></a>
            </p>
        
    </div>
</footer>